<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.employee">
	<insert id="insertEmployee" parameterType="dto.hq.hr.EmployeeDTO">
		insert into employee(emp_no, branch_code, dept, grade_code, position_code, name, phone, email, hire_date, status)
		values(#{empNo},#{branchCode},#{dept},#{gradeCode},#{positionCode},#{name},#{phone},#{email},#{hireDate},#{status})
	</insert>
	
	<select id="selectEmployee" parameterType="Integer" resultType="dto.hq.hr.EmployeeDTO">
		select emp_no as empNo, branch_code as branchCode, dept, grade_code as gradeCode, position_code as positionCode, name, phone, email, hire_date as hireDate, status from employee where emp_no=#{value}
	</select>
	
	<select id="selectEmpCnt" resultType="Integer">
		select count(emp_no) as totalEmp from employee
	</select>
	
	<select id="selectBranchCnt" resultType="Integer">
		select count(distinct branch_code) as totalBranch from employee
	</select>
	
	<select id="selectNewEmpCnt" resultType="Integer">
		select count(emp_no) as newEmp from employee WHERE hire_date BETWEEN CONCAT(YEAR(CURDATE()), '-01-01') AND CURDATE()
	</select>
	
	<select id="selectEmployeeList" parameterType="dto.hq.hr.EmployeeDTO" resultType="dto.hq.hr.EmployeeDTO">
		select e.emp_no as empNo, e.branch_code as branchCode, b.name as branchName, e.dept, e.grade_code as gradeCode, e.position_code as positionCode, e.name, e.phone, e.email, e.hire_date as hireDate, e.status, p.position_name as positionName, g.grade_name as gradeName from employee e
		left join branch b on e.branch_code = b.branch_code
		left join position p on e.position_code = p.position_code
		left join grade g on e.grade_code = g.grade_code
		<where>
		<if test="empNo != null">
			and e.emp_no like CONCAT('%', #{empNo}, '%')
		</if>
		<if test="dept != null and dept != ''">
			and e.dept like CONCAT('%', #{dept}, '%')
		</if>
		<if test="positionName != null and positionName != ''">
			and p.position_name like CONCAT('%', #{positionName}, '%')
		</if>
		<if test="gradeName != null and gradeName != ''">
			and g.grade_name like CONCAT('%', #{gradeName}, '%')
		</if>
		<if test="name != null and name != ''">
			and e.name like CONCAT('%', #{name}, '%')
		</if>
		</where>
	</select>
	
	<select id="selectEmployeeByPhone" parameterType="String" resultType="dto.hq.hr.EmployeeDTO">
		select * FROM employee WHERE phone = #{value}
	</select>
	
	<update id="updateEmployee" parameterType="dto.hq.hr.EmployeeDTO">
		UPDATE employee SET branch_code = #{branchCode}, dept = #{dept}, grade_code = #{gradeCode}, position_code = #{positionCode}, phone = #{phone}, email = #{email}, status = #{status} WHERE emp_no = #{empNo}
	</update>
</mapper>