<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.hq.warehouseStock">

<!-- /hq/warehouse/*.jsp 에서 쓸 (카테고리명,품목명) SELECT -->
<!-- 
	WarehouseStockDetailDTO 
	  └ List<WarehouseStockMovementDTO> movements 
-->
	<select id="selectCategoryMaterials" parameterType="string"
		resultType="dto.hq.warehouse.CategoryMaterialDTO">
		SELECT
			mg.group_name,
			m.material_name
		FROM material_group mg
		JOIN material m
		ON m.material_group_id = mg.material_group_id
		ORDER BY
		mg.material_group_id, m.material_name;
	</select>

<!-- /hq/warehouse/stock.jsp 에서 쓸 조회 리스트 데이터 SELECT -->
<!-- /hq/warehouse/stock.jsp 조회 리스트 -->
	<select id="selectStockList"
		resultType="dto.hq.warehouse.WarehouseStockListDTO">

		SELECT
			ws.stock_no AS stockNo,
			ws.material_code AS materialCode,
			ws.qty AS currentQty,
			DATE_FORMAT(ws.received_at, '%Y-%m-%d %H:%i') AS receivedAt,
			DATE_FORMAT(ws.expiry_date, '%Y-%m-%d') AS expiryDate,
			ws.status AS status,
			
			m.material_name AS materialName,
			m.unit AS unit,
			
			mg.group_name AS category
			
		FROM warehouse_stock ws
		
		JOIN material m
			ON ws.material_code = m.material_code
		JOIN material_group mg
			ON m.material_group_id = mg.material_group_id
		
		<where>
			<if test="categoryName != null and categoryName != ''">
		AND mg.group_name = #{categoryName}
			</if>
			<if test="itemName != null and itemName != ''">
		AND m.material_name = #{itemName}
			</if>
			<if test="keyword != null and keyword != ''">
		AND (
			ws.stock_no 	LIKE CONCAT('%', #{keyword}, '%')
				OR
			mg.group_name 	LIKE CONCAT('%', #{keyword}, '%')
				OR 
			m.material_name	LIKE CONCAT('%', #{keyword}, '%')
		)
			</if>
		</where>
		ORDER BY ws.received_at DESC
	</select>

<!-- stockNo 재고번호의 정보 조회 -->
	<select id="selectDetail"
			parameterType="string"
			resultType="dto.hq.warehouse.WarehouseStockDetailDTO">
			
		SELECT
			ws.stock_no AS stockNo,
			ws.material_code AS materialCode,
			ws.qty AS currentQty,
			DATE_FORMAT(ws.received_at, '%Y-%m-%d %H:%i') AS receivedAt,
			DATE_FORMAT(ws.expiry_date, '%Y-%m-%d') AS expiryDate,
			ws.status AS status,
			
			m.material_name AS materialName,
			m.unit AS unit,
			
			mg.group_name AS category
			
		FROM warehouse_stock ws
		
		JOIN material m
			ON ws.material_code = m.material_code
		JOIN material_group mg
			ON m.material_group_id = mg.material_group_id
		WHERE ws.stock_no = #{stockNo}
	</select>
	
<!-- stockNo의 재고 변동 기록 가져오기 (List로 가져와짐) -->
	<select id="selectMovementsByStockNo"
			parameterType="string"
			resultType="dto.hq.warehouse.WarehouseStockMovementDTO">
		
		SELECT
			change_type AS changeType,
			change_amount AS changeAmount,
			after_qty AS afterQty,
			DATE_FORMAT(changed_at, '%Y-%m-%d %H:%i') AS changedAt
			
		FROM warehouse_stock_change_history
		
		WHERE stock_no = #{stockNo}
		
		ORDER BY changed_at DESC
	</select>

</mapper>